.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
}

@media only screen and (max-width: 900px) {
  .page_wrapper {
    grid-template-columns: 100%;
  }
}